<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

    <div ng-controller="mainCtrl">
      <p class="section" ng-repeat="quote in quotes | filter: filterText track by $index ">
        <span class="quoteText">"{{quote.text}}"</span>
        <span class="authorName"> {{quote.author}}</span>
        <button class="deleteButton" ng-click="deleteMe(quote.text)">X</button>
      </p>
      <div class="createQuote">
        <input type="text" placeholder="Add a new quote." ng-model="newQuoteText">
        <input type="text" placeholder="Author" ng-model="newQuoteAuthor">
        <button ng-click="addQuote()">Add New Quote</button>
      </div>
      <div> Filter
        <input type="text" ng-model="filterText" />
      </div>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/mainCtrl.js"></script>
    <script type="text/javascript" src="./js/dataService.js"></script>

  </body>
</html>
